<section class="blog mb">
  <div class="container">
    <div class="title">
      <h1 class="title__text">Блог</h1>
    </div>
    <div class="blog__list">
      <div class="blog__wrapper">
        <a class="blog__item" href="blog-inside.html">
          <div class="blog__img">
            <img src="images/add-blog1.jpg" alt="" />
          </div>
          <span class="blog__time">22.09.2020</span>
          <p class="blog__description">
            UMG с партнёрами рассказали иностранным гражданам, куда обращаться
            за решением разных вопросов
          </p>
        </a>
      </div>
      <div class="blog__wrapper">
        <a class="blog__item" href="blog-inside.html">
          <div class="blog__img">
            <img src="images/add-blog2.jpg" alt="" />
          </div>
          <span class="blog__time">08.06.2020</span>
          <p class="blog__description">
            Мероприятия при участии детей c языкогого клуба UMG
          </p>
        </a>
      </div>
      <div class="blog__wrapper">
        <a class="blog__item" href="blog-inside.html">
          <div class="blog__img">
            <img src="images/add-blog3.jpg" alt="" />
          </div>
          <span class="blog__time">09.03.2020</span>
          <p class="blog__description">
            Организация встречи делегации из Узбекистана
          </p>
        </a>
      </div>
    </div>
    <div class="inf-more">
      <a href="" class="more-inf">Посмотреть все услуги</a>
    </div>
  </div>
</section>
