<section class="mb">
  <div class="container">
    <div class="forma">
      <div class="title">
        <h1 class="title__text title--white">Оставить заявку</h1>
        <p class="title__subtext title--white">
          Мы уверены, если правильно определить цели, поступит <br />
          каждый, а мы в этом поможем.
        </p>
      </div>
      <div class="main__form main--grey mb-50">
        <input
          class="main__input main__input--user"
          type="text"
          placeholder="ФИО"
        />
        <input
          class="main__input main__input--phone"
          type="text"
          placeholder="Номер телефона"
        />
        <button class="main__btn gradient">Оставить заявку</button>
      </div>
      <p class="title__subtext title--white">
        Присоединяйтесь к более чем 1000 <br />
        студентам Union Study!
      </p>
    </div>
  </div>
</section>
