<header class="header mb">
  <div class="burger">
    <div class="burger__head">
      <img src="images/close.png" alt="image" />
    </div>
    <li class="nav__item">
      <a href="aboutUs.html" class="nav__link">о нас</a>
    </li>
    <li class="nav__item">
      <a href="univers.html" class="nav__link">университеты</a>
    </li>
    <li class="nav__item">
      <a href="services.html" class="nav__link">услуги</a>
    </li>
    <li class="nav__item">
      <a href="blog.html" class="nav__link">блог</a>
    </li>
    <li class="nav__item">
      <a href="comments-inside.html" class="nav__link">отзывы</a>
    </li>
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a href="aboutUs.html" class="nav__link">о нас</a>
    </li>
    <li class="nav__item">
      <a href="univers.html" class="nav__link">университеты</a>
    </li>
    <li class="nav__item">
      <a href="services.html" class="nav__link">услуги</a>
    </li>
    <li class="nav__item">
      <a href="blog.html" class="nav__link">блог</a>
    </li>
    <li class="nav__item">
      <a href="comments-inside.html" class="nav__link">отзывы</a>
    </li>
    <li class="nav__item">
      <a href="contacts.html" class="nav__link">контакты</a>
    </li>
    <li class="nav__item">
      <a href="tel:998781224148" class="header-top__contact phone"
        >+998 78 1224148</a
      >
    </li>
    <li class="nav__item">
      <a href="https://mail.google.com/" class="header-top__contact message"
        >info@unstudy.ru</a
      >
    </li>
    <li class="nav__item">
      <a
        href="https://telegram.org/?setln=ru"
        class="header-top__contact telegram"
        >unstudy_bot</a
      >
    </li>
  </ul>
  <div class="container">
    <section class="header-top">
      <a href="index.html" class="header-top__logo">
        <img src="images/logo.jpg" alt="" />
        <p class="header-top__description">
          Полное сопровождение <br />
          при поступлении в <br />
          Российские ВУЗы
        </p>
      </a>
      <div class="header-top__inf">
        <a href="tel:998781224148" class="header-top__contact phone"
          >+998 78 1224148</a
        >
        <a href="https://mail.google.com/" class="header-top__contact message"
          >info@unstudy.ru</a
        >
        <a
          href="https://telegram.org/?setln=ru"
          class="header-top__contact telegram"
          >unstudy_bot</a
        >
        <button class="header-top__btn gradient">Оставить заявку</button>
      </div>
      <div class="header-top__lang">
        <span class="lang lang--active">RU</span>
        <span class="lang">UZ</span>
      </div>
      <div class="header__burger">
        <svg
          height="18px"
          width="18px"
          viewbox="0 -53 384 384"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"
          />
          <path
            d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"
          />
          <path
            d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"
          />
        </svg>
      </div>
    </section>
  </div>

  <section class="header-bottom gradient">
    <div class="container">
      <div class="header-bottom__menu">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="aboutUs.html" class="nav__link">о нас</a>
            </li>
            <li class="nav__item">
              <a href="univers.html" class="nav__link">университеты</a>
            </li>
            <li class="nav__item">
              <a href="services.html" class="nav__link">услуги</a>
            </li>
            <li class="nav__item">
              <a href="blog.html" class="nav__link">блог</a>
            </li>
            <li class="nav__item">
              <a href="comments-inside.html" class="nav__link">отзывы</a>
            </li>
            <li class="nav__item">
              <a href="contacts.html" class="nav__link">контакты</a>
            </li>
          </ul>
        </nav>
        <div class="header-bottom__search">
          <input
            class="header-bottom__search-input"
            type="text"
            placeholder="Поиск"
          />
          <svg
            width="26"
            height="26"
            viewbox="0 0 26 26"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.6281 21.2561C12.8162 21.2561 14.8376 20.5893 16.5256 19.4639L22.6315 25.5699C23.111 26.0492 23.9029 26.0492 24.4029 25.5699L25.5907 24.382C26.07 23.9027 26.07 23.1108 25.5907 22.6107L19.4639 16.5256C20.5891 14.8376 21.2561 12.8162 21.2561 10.6281C21.2561 4.77221 16.4839 0 10.6281 0C4.77221 0 0 4.77221 0 10.6281C0 16.4837 4.75137 21.2561 10.6281 21.2561ZM10.6281 4.16787C14.1916 4.16787 17.0883 7.06454 17.0883 10.6281C17.0883 14.1916 14.1916 17.0883 10.6281 17.0883C7.06454 17.0883 4.16787 14.1916 4.16787 10.6281C4.16787 7.06454 7.06454 4.16787 10.6281 4.16787Z"
            />
          </svg>
        </div>
      </div>
    </div>
  </section>
</header>
