<section class="inf mb">
  <div class="container">
    <div class="title">
      <h1 class="title__text">Как мы можем гарантировать поступление?</h1>
    </div>
    <div class="inf__list">
      <div class="inf__wrapper">
        <article class="inf__item">
          <h3 class="inf__title">Оценка</h3>
          <p class="inf__text">Наши эксперты оценят твои знания</p>
        </article>
      </div>
      <div class="inf__wrapper">
        <article class="inf__item">
          <h3 class="inf__title">Интересы</h3>
          <p class="inf__text">Помогут определиться с интересами</p>
        </article>
      </div>
      <div class="inf__wrapper">
        <article class="inf__item">
          <h3 class="inf__title">ВУЗ</h3>
          <p class="inf__text">Подберут ВУЗ по интересам</p>
        </article>
      </div>
      <div class="inf__wrapper">
        <article class="inf__item">
          <h3 class="inf__title">Оплата</h3>
          <p class="inf__text">Подскажут, где оплатить обучение</p>
        </article>
      </div>
    </div>
  </div>
</section>
