<section class="inf mb">
  <div class="container">
    <div class="title">
      <h1 class="title__text">Россия - это</h1>
    </div>
    <div class="inf__list">
      <div class="inf__wrapper">
        <article class="inf__item">
          <h3 class="inf__title">>1000</h3>
          <p class="inf__text">
            Cтудентов, которые нашли себя и поступили в ВУЗ мечты благодаря
            Union Study
          </p>
        </article>
      </div>
      <div class="inf__wrapper">
        <article class="inf__item">
          <h3 class="inf__title">>300</h3>
          <p class="inf__text">Образовательных программ</p>
        </article>
      </div>
      <div class="inf__wrapper">
        <article class="inf__item">
          <h3 class="inf__title">525 663</h3>
          <p class="inf__text">Бюджетных мест</p>
        </article>
      </div>
      <div class="inf__wrapper">
        <article class="inf__item">
          <h3 class="inf__title">4 068 327</h3>
          <p class="inf__text">Студентов</p>
        </article>
      </div>
    </div>
  </div>
</section>
